@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@500;700&family=Work+Sans:wght@600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #000000;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2 {
    position: relative;
    padding-right: 5px;
}

h1 {
    font-size: 128px;
    line-height: 1;
    font-weight: 600;
    color: #39FF14;
    letter-spacing: 2;
    font-family: 'Inter', sans-serif;
    width: max-content;
    margin: 0 auto;
}

sup {
    color: #fff;
    font-size: 27px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -9px;
    right: -28px;
}

h2 sup {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    color: #39FF14;
    word-spacing: 2px;
    width: max-content;
    margin: 10px auto 0;
}

h3 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 13px;
    justify-content: center;
}

.btns div {
    font-family: 'Work Sans', sans-serif;
    color: #F4F4F4;
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
    background: linear-gradient(to right, #29D808, #20C97E);
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    border-radius: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
}

.counter,
.counts span {
    font-size: 48px;
    line-height: 1;
    font-weight: 800;
    margin-top: 21px
}

.bigger .counter {
    font-size: 128px;
    line-height: 1;
}

.counter-box.bigger h3 {
    min-height: auto;
}

.counts span.gray {
    color: #333232;
    font-size: 100px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    margin-right: -4vw;
}

.counts {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center
}

.text-center {
    text-align: center;
}

/* .text-right{
    text-align: right;
} */

.wide-container {
    max-width: 1728px;
    margin: 0 auto;
}

.counter-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 170px
}

.counter-boxes .counter-box {
    width: 50%;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero {
    padding: 30px 5px;
    overflow: hidden;
}

.counter-boxes {
    width: calc(100% - 775px);
}

.tiger-img {
    min-width: 650px;
    max-width: 100%;
    padding: 0 10px;
    position: relative;
}

.tiger-img img {
    width: 100%;
    margin-bottom: -73px;
}

.tiger-img h2 {
    position: absolute;
    top: 0;
    max-width: 100%;
    text-align: center;
    left: 50%;
    transform: translatex(-50%);
    top: 20px
}

.tiger-img .arrow {
    /* bottom: -78px;
    z-index: 1;
    transform: translateX(-50%); */
    /* animation: arrowScale 1s infinite alternate; */
    left: 50%;
    background: linear-gradient(to right , #467BF8 ,  #9552FF);
}

.arrow {
    animation: animatedBtn 1s infinite linear;
    display: inline-block;
    margin: 0 auto;
    background: linear-gradient(to right , #467BF8 ,  #9552FF);
    padding: 18px 20px;
    font-weight:600;
    font-size:27px;
    line-height:30px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;

}

.arrow:hover{
    background: linear-gradient(to left , #467BF8 ,  #9552FF);
    transition: all 0.3s ;
}

.float-arrow{
    padding-bottom: 30px;
    position: absolute;
    left: 48%;
}

.arrow img{
    width: 100%;
}

.counter-box h3 {
    min-height: 100px
}

@keyframes animatedBtn {
    0% {
        box-shadow: 0 0 10px 10px #467bf8
    }

    50% {
        box-shadow: 0 1px 20px 10px #467bf8
    }

    100% {
        box-shadow: 0 0 10px 10px #467bf8
    }
}

@keyframes arrowScale1 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}


/* section-2 */
.section-2 {
    max-width: 1366px;
    margin: 0 auto;
    padding: 200px 15px 100px
}

.text {
    margin-top: 120px;
    text-align: center
}

.text p:last-child {
    margin-top: 50px
}

.stores-imgs {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}


/* section-3 */
.section-3 {
    padding: 100px 15px;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}

footer>span {
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

footer span span {
    font-size: 16px;
}

/* hero */

@media (max-width:1600px) {
    .tiger-img {
        min-width: 500px;
    }

    .counter-boxes {
        width: calc(100% - 500px);

    }

    h3 {
        font-size: 23px;
        line-height: 1.4
    }

    .counter,
    .counts span {
        font-size: 38px;
    }
}

@media (max-width:1440px) {
    .counts span.gray {
        margin-right: -20px;
    }
}

@media (max-width:1250px) {
    .tiger-img {
        min-width: 500px;
    }

    .counter-boxes {
        width: calc(100% - 500px);

    }

    h3 {
        font-size: 20px;
    }

    .counter,
    .counts span {
        font-size: 30px;
    }

    .bigger .counter {
        font-size: 101px;
    }

    .counts span.gray {
        font-size: 100px;
    }
}

@media (max-width:1350px) {
    .tiger-img {
        min-width: 500px;
    }

    .counter-boxes {
        width: calc(100% - 500px);
    }
}

@media (max-width:1230px) {
    h3 {
        font-size: 22px;
        line-height: 34px;
    }

    .counter,
    .counts span {
        font-size: 29px;
    }

    .counts {
        gap: 5px;
    }
}

@media (max-width:1100px) {
    .counter-boxes {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        padding: 100px 0;
    }

    .counter-boxes .counter-box {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .counter-box h3 {
        min-height: auto;
    }

    .hero-content {
        align-items: flex-start;
    }
}

@media (max-width:1040px) {
    .tiger-img {
        min-width: 400px;
    }

    .counter-boxes {
        width: calc(100% - 400px);
        row-gap: 120px;
    }

    h3 {
        font-size: 18px;
        line-height: 25px;
    }

    h1 {
        font-size: 10vw;
    }

    .btns div {
        font-size: 21px;
        line-height: 30px;
        padding: 20px 16px;
    }

    .counter-box h3 {
        min-height: 56px;
    }

    .bigger .counter {
        font-size: 88px;
    }

    .counts span.gray {
        font-size: 65px;
    }
}


@media (max-width:1024px){
    footer{
        flex-direction: column;
        gap: 50px;
        padding-bottom: 30px;
    }

    .float-arrow{
        position: static;
        padding: 0 20px
    }
}

@media (max-width:900px) {


    h2 {
        font-size: 30px;
    }

    footer span {
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .hero-content {
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: 10vw;
    }

    sup {
        font-size: 16px;
        top: -9px;
        right: -14px;
    }

    .counter-boxes {
        flex-direction: row;
        row-gap: 40px;
        align-items: center;
        width: 100%;
        padding: 30px 0 30px;
        flex-wrap: nowrap;
    }

    .counter-boxes .counter-box {
        border-right: 1px solid gray;
    }

    .counter-boxes .counter-box:last-child {
        border-right: 0
    }

    .tiger-img {
        min-width: 100%;
        max-width: 400px;
    }

    .tiger-img img {
        margin: 0;
    }

    h2 {
        font-size: 3.6vw;
    }

    h2 sup {
        font-size: 11px;
    }

    .stores-imgs {
        gap: 34px;
        margin-top: 70px;
    }

    .text p:last-child {
        margin-top: 38px;
    }

    p {
        font-size: 30px;
    }

    .text {
        margin-top: 79px;
    }

    .section-2 {
        padding: 40px 15px 50px;
    }

    .tiger-img .arrow {
        bottom: 0;
    }

    .section-3 {
        padding: 52px 15px 50px;
    }


    .counts span.gray {
        margin-right: 0;
        padding-right: 0;
    }

    .float-arrow{
        min-width: 250px;
    }

    .arrow {
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        display: block;
    }

}

@media (max-width:640px) {
    .btns {
        gap: 10px;
    }

    .btns div {
        width: calc(50% - 41px);
        text-align: center;
        padding: 14px 10px;
        font-size: 20px;
        line-height: 30px;

    }
}

@media (max-width:650px) {
    .counter-boxes {
        flex-wrap: wrap;
    }

    .counter-boxes .counter-box {
        width: calc(50% - 20px);
        border-right: none;
        border-bottom: 1px solid gray;
        padding: 0 0 10px;
        margin: 0 10px
    }

    .counter-box h3 {
        min-height: 50px;
    }

    .text {
        margin-top: 45px;
    }

    .counts span.gray {
        font-size: 53px;
    }

    .bigger .counter {
        font-size: 52px;
    }


}

@media (max-width:479px){
    footer> span img{
        width: 15px
    }

    footer span span {
        font-size: 13px;
    }
}

@media (max-width:375px) {
    h3 {
        font-size: 14px;
        line-height: 21px;
    }

    .counter,
    .counts span {
        font-size: 22px;
        margin-top: 12px;
    }

    .btns {
        gap: 0;
    }

    .btns div {
        width: 100%;
        margin: 0 0 10px;
    }


}

@media (max-width:375px) {
    footer span span {
        font-size: 12px;
    }
}